<div>
    <a class="_backTo" routerLink="/"><i class="fa-solid fa-left-long"></i></a>
    <div class="_divContainer">
        <div class="_imageDiv">
            <img src="https://placehold.co/1285x250" alt="User" class="user-image" />
        </div>
        <div class="_infoDiv">
            <div class="d-flex justify-content-center mt-2">
                <h3>Let's start a conversation</h3>
            </div>
            <hr/>
            <div class="d-flex justify-content-around mt-2">
                <div>
                    <p>Ask how can we help you : </p>
                    <div>
                        <p style="font-size:14px;font-weight: bold;">See our Platform in action</p>
                        <div style="font-size:12px">
                            <div>See a personilized demo or signup for<a style="color:blue"> 30-day free trail</a> of TUNE's<br/> performance marketing platform.</div>

                        </div>
                        <p style="font-size:14px;font-weight: bold;">Master performance marketing</p>
                        <div style="font-size:12px">
                            <div>See a personialized demo or signup for<a style="color:blue"> 30-day free trail</a> of TUNE's<br/> performance marketing platform.</div>

                        </div>
                        
                    </div>
                </div>
                <div>
                    <p style="font-size:12px">Please Note : All fields are required</p>
                    <input type="text" placeholder="First Name" class="form-control mb-1">
                    <input type="text" placeholder="Last Name" class="form-control mb-1">
                    <input type="text" placeholder="Email" class="form-control"> 
                    <button class="btn btn-outline-primary w-100 mt-1">Submit</button>
                </div>
                <div>
                    <h4>ByteCode Technologies </h4><span><small>Pvt. Ltd.</small></span>
                    <hr/>
                    <div>ITC-10 Second Floor.<br/>Sector 67,Mohali<br/>Pin Code : 160062</div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2  gap-5 smedia-icon">
                <div class="f-icon"><i class="fa-brands fa-square-facebook"></i></div>
                <div class="t-icon"><i class="fa-brands fa-square-twitter"></i></div>
               <div class="i-icon"><i class="fa-brands fa-square-instagram"></i></div> 
            </div>
        </div>

    </div>
</div>