._ClsUserInfo {
  
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
}
._clsNavBar{
  background-color: white;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.user-details {
  text-align: center;
}

.user-name {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.user-email {
  display: block;
  color: #555;
  font-size: 0.9rem;
}
 .user-name:hover{
color:#f1948a;
}
.user-email:hover{
  color:#f1948a;
}

.sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 220px; 
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  overflow-y: auto;
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.p-3{
  padding:0 !important
}
.sidebar-icon {
  margin-right: 10px;
  width: 20px; 
  text-align: center;
}

